.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
