.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background-color: #000000aa;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100vw;
	height: 30px;
}

.footer-text {
	color: #ffffff;
	font-size: 14px;
	margin-right: 20px;
	font-family: monospace;
	font-weight: bold;
}

.link {
	color: #ffffff;
	font-size: 14px;
	margin-right: 5px;
	font-family: monospace;
	font-weight: bold;
}
